@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-title: 3.5rem;
  --font-text: 1.6rem;
  --background-color: #272727;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: var(--font-title);
}

p {
  font-size: var(--font-text);
}
