@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('./common.css');

:root {
  --font-title: 3.5rem;
  --font-text: 1.6rem;
  --background-color: #272727;
}

body {
  background-color: var(--background-color);
  width: 50%;
  color: #f5f5f5;
  margin: 0 auto;
}

.section1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section1-title {
  color: red;
}

.section2 {
  background-color: blue;
}
