.container {
  width: 60vw;
  margin: 50px auto;
}

.container-content {
  display: flex;
  position: relative;
  padding: 0;
}

.container-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
}

.container-links {
}

.container-switch {
  margin: 30px auto;
  width: 20vw;
}

.link {
  padding-right: 30px;
}

/* si es menos de 950 quitar el avatar y hacer el texto 100% */
@media screen and (max-width: 1030px) {
  .container,
  .container-text {
    width: 95%;
  }
  .avatar {
    /* display: none; */
    width: 10%;
  }
  .container-switch {
    width: 20vw;
  }
}

@media screen and (max-width: 900px) {
  .container,
  .container-text {
    width: 100%;
  }
  #text-section {
    /* background-color: red; */
    padding: 0;
  }
  .avatar {
    display: none;
    /* width: 10%; */
  }
  .container-links {
    margin-bottom: 15px;
  }
  .container-switch {
    width: 25vw;
  }
}

@media screen and (max-width: 720px) {
  .container-switch {
    width: 30vw;
  }
}

@media screen and (max-width: 600px) {
  .container-switch {
    max-width: 60vw;
    width: 100%;
  }
}
