.container {
  width: 60vw;
  margin: 50px auto;
}

.container-content {
  display: flex;
  position: relative;
  padding: 0;
}

.container-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
}

.container-links {
}

.link {
  padding-right: 30px;
}
