@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --font: "Press Start 2P", cursive;
}

html,
body,
pre,
code,
kbd,
samp {
  font-family: var(--font);
}

body {
  margin: 0;
  padding: 0;
  background-color: #212529;
  color: white;
}
