@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Bungee+Shade&family=Fira+Code:wght@300;400;500;600;700&display=swap");
:root {
  --white: #ffffff;
  --yellow: #ffe400;
  --orange: #ff652f;
  --green: #14a76c;
  --gray: #747474;
  --black: #272727;
  --text: "Arvo", serif;
  --title: "Bungee Shade", cursive;
  --fira: "Fira Code", monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--title);
  background-color: var(--black);
  color: var(--black);
}

button,
a {
  font-style: none;
  color: var(--white);
}

@import "./Home.css";

/* this is to detect if the user is using dark mode  */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
